In [7]:
!pip install pymongo

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymongo in c:\users\lenovo\appdata\roaming\python\python310\site-packages (4.5.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\lenovo\appdata\roaming\python\python310\site-packages (from pymongo) (2.4.2)

In [20]:
# import pymongo
from pymongo import MongoClient
import pandas as pd
import json
import csv

In [21]:
connection_url ="mongodb://localhost:27017"

client = pymongo.MongoClient(connection_url)

print("client:", client)

client: MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [10]:
database_name ="nylp_data"
nylp_db= client[database_name]

In [13]:
collection_name = "nylp_details"
collection = nylp_db[collection_name]

In [19]:
print("collection: ", nylp_db.list_collection_names())

collection:  ['nylp_details']

In [23]:
data =pd.read_csv("NYLP.csv")

In [24]:
data.head()

,Financial Year,Number of Events Conducted,Number of Participants,Grants received (In Crores)
0,2014-15,4640,371200,12.21
1,2015-16,3305,244634,42.94
2,2016-17,9530,749307,16.71
3,2017-18,4788,558304,10.52
4,2018-19,5498,588139,7.14

In [26]:
data_dict = data.to_dict("records")

In [27]:
data_dict

[{'Financial Year': '2014-15',
  'Number of Events Conducted': 4640,
  'Number of Participants': 371200,
  'Grants received (In Crores)': 12.21},
 {'Financial Year': '2015-16',
  'Number of Events Conducted': 3305,
  'Number of Participants': 244634,
  'Grants received (In Crores)': 42.94},
 {'Financial Year': '2016-17',
  'Number of Events Conducted': 9530,
  'Number of Participants': 749307,
  'Grants received (In Crores)': 16.71},
 {'Financial Year': '2017-18',
  'Number of Events Conducted': 4788,
  'Number of Participants': 558304,
  'Grants received (In Crores)': 10.52},
 {'Financial Year': '2018-19',
  'Number of Events Conducted': 5498,
  'Number of Participants': 588139,
  'Grants received (In Crores)': 7.14},
 {'Financial Year': '2019-20',
  'Number of Events Conducted': 8084,
  'Number of Participants': 694730,
  'Grants received (In Crores)': 9.78},
 {'Financial Year': '2020-21',
  'Number of Events Conducted': 1954,
  'Number of Participants': 156320,
  'Grants received (In Crores)': 1.75},
 {'Financial Year': '2021-22',
  'Number of Events Conducted': 481,
  'Number of Participants': 313192,
  'Grants received (In Crores)': 7.29},
 {'Financial Year': '2022-23',
  'Number of Events Conducted': 672,
  'Number of Participants': 428158,
  'Grants received (In Crores)': 10.56}]

In [32]:
nylp_db.nylp_details.insert_many(data_dict)

In [35]:
data.shape

(9, 4)